<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>


<div class="login-container">
  <img src="{{ url_for('static', filename='images/logo.png') }}"
     alt="Hostel Complaint Portal"
     class="login-logo">


    <h2>Hostel Complaint Portal</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="{{ 'success-box' if category == 'success' else 'error-box' }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


    <form method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <p class="register-text">
        New user?
        <a href="/register">Create an account</a>
    </p>

</div>
<script>
    function toggleMenu() {
        const menu = document.getElementById("sideMenu");
        // Toggle display between 'flex' and 'none'
        if (menu.style.display === "flex") {
            menu.style.display = "none";
        } else {
            menu.style.display = "flex";
        }
    }

    // Close the menu if the user clicks anywhere outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.menu-btn')) {
            const menu = document.getElementById("sideMenu");
            if (menu && menu.style.display === "flex") {
                menu.style.display = "none";
            }
        }
    }
</script>
<body>

</html>
